# Ignore JetBrains IDE files
.idea/

# Ignore node_modules
node_modules/

# Ignore test coverage
junit.xml
coverage/

# Ignore build artifacts
_readthedocs/
build/
dist/
target/
lizardbyte-shared-web*.tgz
