#crowdin-language-picker .cr-picker-button,
#crowdin-language-picker .cr-picker-submenu {
  background-color: var(--page-background-color) !important;
  border: 1px solid var(--page-secondary-foreground-color) !important;
  color: var(--page-foreground-color) !important;
}

#crowdin-language-picker .cr-picker-button:hover,
#crowdin-language-picker .cr-picker-submenu > a:hover {
  background-color: var(--page-foreground-color) !important;
  color: var(--page-background-color) !important;
}

#crowdin-language-picker .cr-picker-submenu > a {
  color: var(--page-foreground-color) !important;
}

#crowdin-language-picker .cr-picker-submenu > a.cr-selected {
  color: var(--page-secondary-foreground-color) !important;
}
